@charset "utf-8";
@font-face {
  font-family: "Linux Libertine";
  src: url("/static/LinLibertine.ttf");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  background-color: #f2bf59;
  color: black;
  font-family: 'Linux Libertine', serif;
}
.header-container {
  text-align: center;
}
.header {
  text-align: center;
  margin-bottom: 15px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding: 5px;
  background-color:#ecb74d;
  box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.2); 
}
.tagline {
  font-size: 0.8rem; /* Make it smaller than the main header */
  margin-top: 3px; /* Add a little space above the tagline */
}
#left-container {
  position: fixed; /* Fixed position */
  left: 0; /* Stick it to the left side */
  top: 0; /* Stick it to the top */
  bottom: 0; /* Stick it to the bottom */
  width: 300px; /* Set the width */
  background-color: #f2bf59; /* Background color */
  border-left: 2px solid black;
  border-right: 2px solid black; /* Right border */
  border-radius: 5px; /* Rounded corners */
  padding: 20px; /* Some padding */
  overflow-y: auto; /* Add scroll if content overflows */
  z-index: 1; /* Ensure it appears on top of other content */
  box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.2); 
}

#container { /* card container */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 0vh; /* margin to the top */
  margin-left: 150px; /* margin to the left container/sidebar */
  width: 100%;
  height: 100vh;
}
.box {
  width: 100%;
  max-width: 1000px; 
  padding: 20px;  
}
.box h1 {
  margin: 15px 0; 
  color: inherit;
  font-size: 2rem; 
  letter-spacing: 1.5px; 
  text-align: center;
}
.cards {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.cards a { 
  color: black;
  width: 30%;
  text-decoration: none;
  position: relative; 
  padding-top: 45%;  /* 2:3 aspect ratio */
 /* overflow: hidden; */
}

.card {
  /* Existing styles */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 20px;
  background-color: #fff7ca;
  transition: transform .3s;

  /* New styles from .modal */
  border: 3px solid black;  /* Increased border thickness */
  border-radius: 5px;  /* Slightly less rounded corners */
  box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.2);  /* More shadow */
}

.card-thumb {
  width: 100%;
  text-align: center;
}
.card-thumb img {
  width: 100px;  
}
.card-title {
  margin: 10px 0;  
  font-size: 1.5rem;  
  letter-spacing: 1.5px;  
  text-align: center;
}
.card-excerpt {
  font-size: 0.8rem;  
  letter-spacing: 1.5px;  
  text-align: center;
}
#reroll-button {
    margin-top: 20px;
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #fdfaed;
    border: 1px solid black;
    border-radius: 5px;  /* Adjusted to make corners less rounded */
    font-family: 'Linux Libertine', serif;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bolder;
    box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.2); 
  }
  .card-views {
    font-size: 0.95rem;
    text-align: center;
    margin-top: 2px;
    font-weight: bolder;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
  }
  .card-size {
    font-size: 0.95rem;
    text-align: center;
    margin-top: auto;
    font-weight: bolder;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
  }
  .stats-header {
    text-align: left;
    margin-bottom: 15px;
    padding: 5px;
    
  }
  
  #user-stats {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
  }
  #read-articles-list {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    list-style-type: none;  /* Removes bullet points */
    max-height: 200px;  /* Set the maximum height to your desired value */
    overflow-y: auto;  /* Show vertical scrollbar when content overflows */
}

#read-articles-list h4 {
    margin-bottom: 20px;  /* Adds space below the heading */
    border-bottom: 1px solid #000000;  /* Add a 1px solid line */
    padding-bottom: 10px;  /* Add some padding to give space below the text */
    margin-bottom: 10px;  /* Add some margin to give space below the line */
}

#read-articles-list ul {
    list-style-type: none;  /* Removes bullet points */
}
#read-articles-list a {
  color: black;
  text-decoration: none;
}

#read-articles-list a:hover {
  text-decoration: underline;
}

#toggle-read-articles {
  margin-top: 20px;
  background-color: #fff7ca;
  border: 1px solid black;
  border-radius: 5px;  /* Adjusted to make corners less rounded */
  padding: 10px 20px;
  font-family: 'Linux Libertine', serif;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.2); 
}

#toggle-read-articles:hover {
  background-color: #f2e8b8;
}
#reset-button {
  margin-top: 10px;
  background-color: #fff7ca;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 10px;
  font-family: 'Linux Libertine', serif;
  font-size: 0.8rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#reset-button:hover {
  background-color: #f2e8b8;
}
#current-streak-box {
  display: flex;
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  margin-top: 20px;
}

#flame-icon {
  width: 40px;  /* Adjust the size as needed */
  height: auto;
  margin-right: 10px;
}

#current-streak {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#signature-box {
  position: absolute; 
  bottom: 0; 
  left: 0; 
  right: 0; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid black;
  padding: 10px;
}

#github-link {
  margin-left: 10px;
}

#github-icon {
  width: 24px;  /* Adjust the size as needed */
  height: auto;
}


#article-modal {
  position: fixed;
  top: 0;
  left: 300px; /* Same width as your left container */
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
  overflow-y: auto;
}

#close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #fff;
  padding: 5px 10px;
  cursor: pointer;
  z-index: 3;
  box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.2); 
}

#iframe {
  width: 100%;
  height: 100%;
  border: none;
}

#article-frame {
  width: 100%;
  height: 100%;
}
.loading-popup {
  display: none; /* Initially hidden */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  z-index: 1000; /* Ensure it's on top */
}

.loading-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  text-align: center;
}


.hidden {
    display: none;
  }

  
  
  