<!DOCTYPE html>
<html>
<head>
    <title>Wikinuggets</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
    <div id="left-container">
        <h1 class="header">Wikinuggets</h1>
        <div id="user-stats">
            <h3 class="stats-header">User Statistics</h3>
            <p>Total Articles Read: <span id="total-articles">0</span></p>
            <p>Current Streak: <span id="current-streak">0</span> days</p>
        </div>
        <button id="toggle-read-articles">Toggle Read Articles</button>
        <div id="read-articles-list" class="hidden">
          <h4>Articles You've Read:</h4>
          <ul id="article-list">
            <!-- List items will be added here dynamically -->
          </ul>
          <button id="reset-button">Reset</button>
        </div>
      </div>
    <div id="container">
        <div class="box">
            <div id="article-modal" class="hidden">
                <button id="close-modal">Close</button>
                <iframe id="article-frame" src="" frameborder="0"></iframe>
              </div>
          
            <div class="cards">
                {% for article in articles %}
                    <a href="{{ article.url }}" target="_blank">
                        <article class="card">
                            <div class="card-thumb">
                                {% if article.img_url %}
                                    <img src="{{ article.img_url }}" alt="{{ article.title }}">
                                {% endif %}
                            </div>
                            <div class="card-title">{{ article.title }}</div>
                            <div class="card-excerpt">{{ article.first_sentence }}</div>
                            <div class="card-views">views last month: {{ article.views }}</div>
                        </article>
                    </a>
                {% endfor %}
            </div>
            <button id="reroll-button">Reroll</button>
        </div>
    </div>
</body>
</html>